<% provide :header, "background-color: rgba(255, 255, 255, 0.5); position: fixed !important; width: 100%; z-index: 999;" %>

<div id="home">
    <%= video_tag("intro_movie.mp4", autoplay: true, loop: true, width: "100%" ) %>
</div>

<div class="container">
  <div class="row">
    <br>
    <div style="height: 3px; background-color: gray; text-align: center" class="custom-hr">
  <h3><span style="background-color: white; position: relative; top: -0.5em; padding: 20px">
    SPECJALIZUJEMY SIĘ W
  </span></h3>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-md-8 col-md-offset-2">
      <h5 style="line-height: 26px; text-indent: 3em">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </h5>
    </div>
  </div>

  <div class="row" style="padding-bottom: 45px">
    <br>
    <div style="height: 3px; background-color: gray; text-align: center" class="custom-hr">
      <h3><span style="background-color: white; position: relative; top: -0.5em; padding: 20px">
        OSTATNIE REALIZACJE
        </span></h3>
    </div>
  </div>
</div>

<!--if @pictures.where(created_at -> ?, 30.days).present?-->
<div id="owl-slide" class="owl-carousel owl-theme">
  <div class='item row' style="margin: 0">
    <div class="col-md-6 col-xs-12" style="padding: 0;"><%= image_tag "image1_scaled.jpg", alt: 'photo 1', class: 'img-responsive img1' %></div>
    <div class="col-md-6 col-xs-12" style="padding: 0;"><%= image_tag "image1_scaled.jpg", alt: 'photo 2', class: 'img-responsive img2' %></div>
  </div>
  <div class='item row' style="margin: 0">
    <div class="col-md-6 col-xs-12" style="padding: 0;"><%= image_tag "image1_scaled.jpg", alt: 'photo 1', class: 'img-responsive img1' %></div>
          <div class="col-md-6 col-xs-12" style="padding: 0;"><%= image_tag "image1_scaled.jpg", alt: 'photo 2', class: 'img-responsive img2' %></div>
          <!--opinion2 = []-->
          <!--@opinions.each do-->
          <!--opinion1 = Opinion.sample-->
          <!--next if opinion1 == opinion2-->
          <!--opinion.image-->

          <!--@opinions.each do-->
          <!--opinion2 = Opinion.sample-->
          <!--next if opinion1 == opinion2-->
          <!--opinion.image-->
          <!--break-->
          <!--end-->
          <!--end-->
  </div>
</div>

<div class="container">
    <div class="row">
      <br>
      <div style="height: 3px; background-color: gray; text-align: center" class="custom-hr">
        <h3><span style="background-color: white; position: relative; top: -0.5em; padding: 20px">
    ISTNIEJEMY NA RYNKU
    </span></h3>
      </div>
    </div>

    <div class="row" style="padding-top: 20px">
      <div class="col-md-8 col-md-offset-2">
        <h5 style="line-height: 26px; text-indent: 3em">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
        </h5>
      </div>
    </div>

    <div class="row" style="padding-bottom: 45px">
      <br>
      <div style="height: 3px; background-color: gray; text-align: center" class="custom-hr">
        <h3><span style="background-color: white; position: relative; top: -0.5em; padding: 20px">
    OPINIE O NAS
    </span></h3>
      </div>
    </div>
</div>

<!--if @opinions.present?-->
<div class="flexslider">

  <!--opinion2 = []-->
  <!--@opinions.each do-->
    <!--opinion1 = Opinion.sample-->
      <!--next if opinion1 == opinion2-->
      <!--opinion.image-->

        <!--@opinions.each do-->
        <!--opinion2 = Opinion.sample-->
          <!--next if opinion1 == opinion2-->
          <!--opinion.image-->
          <!--break-->
        <!--end-->
  <!--end-->
    <ul class="slides" style="background-color: lightskyblue">
      <% user2 = [] %>
      <% @users.each do %>
          <% user1 = User.all.sample %>
          <% next if user1 == user2 %>
          <li>
            <div class="row" style="padding-bottom: 30px; padding-top: 30px">
                <div class="col-md-6 col-md-push-5">
                    <%= image_tag user1.avatar.url(:medium), class: 'img-circle' %>
                </div>
                  <div class="col-md-4 col-md-pull-4" style="text-align: center;">
                    <div class="hidden-md hidden-lg" style="padding-left: 90px; padding-right: 90px">
                    <h3><%= user1.name %></h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. </h5>
                    </div>

                    <div class="hidden-sm hidden-xs">
                      <h3><%= user1.name %></h3>
                      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. </h5>
                    </div>
                  </div>
            </div>
          </li>
          <% @users.each do %>
              <% user2 = User.all.sample %>
              <% next if user1 == user2 %>
              <li>
                <div class="row" style="padding-bottom: 30px; padding-top: 30px">
                  <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <%= image_tag user2.avatar.url(:medium), class: 'img-circle' %>
                  </div>
                  <div class="col-md-4 col-xs-12" style="text-align: center">
                  <div class="hidden-md hidden-lg" style="padding-left: 90px; padding-right: 90px">
                      <h3><%= user2.name + 'XXX' %></h3>
                      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. </h5>
                  </div>
                  <div class="hidden-sm hidden-xs">
                    <h3><%= user2.name + 'XXX' %></h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. </h5>
                  </div>
                </div>
              </li>
              <% break %>
          <% end %>
      <% end %>
    </ul>
</div>