<% if current_page?(root_path) %>
    <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <a class="navbar-brand" href="<%= root_path %>"><span><%= image_tag 'https://s3.eu-central-1.amazonaws.com/dmarapp/layout/dmar_scaled_trans.png', alt: 'logo', style: 'max-height: 40px' %></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right hidden-md hidden-lg hidden-sm">
            <li><a class="home" href="<%= root_path %>">START</a></li>
            <li><a class="oferta" href="<%= root_path + '#oferta' %>">OFERTA</a></li>
            <li><a class="realizacje" href="<%= root_path + '#realizacje' %>">REALIZACJE</a></li>
            <li><a class="opinie" href="<%= root_path + '#opinie' %>">OPINIE O NAS</a></li>
            <li><a class="kontakt" href="<%= root_path + '#kontakt' %>">KONTAKT</a></li>
            <li><a class="gallery" href="#">GALERIA</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle user" data-toggle="dropdown" href="">UŻYTKOWNIK</a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                    <li> <%= link_to 'EDYCJA', edit_user_registration_path %> </li>
                    <li> <%= link_to 'NAPISZ OPINIĘ', '#' %> </li>
                    <li> <%= link_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete %> </li>
                <% else %>
                    <li> <%= link_to 'REJESTRACJA' ,new_user_registration_path  %> </li>
                    <li> <%= link_to 'LOGOWANIE', new_user_session_path  %> </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a class="home" href="<%= root_path %>">START</a></li>
            <li><a class="oferta" href="<%= root_path + '#oferta' %>">OFERTA</a></li>
            <li><a class="realizacje" href="<%= root_path + '#realizacje' %>">REALIZACJE</a></li>
            <li><a class="opinie" href="<%= root_path + '#opinie' %>">OPINIE O NAS</a></li>
            <li><a class="kontakt" href="<%= root_path + '#kontakt' %>">KONTAKT</a></li>
            <li><a class="gallery" href="#">GALERIA</a></li>

            <li class="dropdown">
              <a class="dropdown-toggle user" data-toggle="dropdown" href="">UŻYTKOWNIK</a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                    <li> <%= link_to 'EDYCJA', edit_user_registration_path %> </li>
                    <li> <%= link_to 'NAPISZ OPINIĘ', '#' %> </li>
                    <li> <%= link_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete %> </li>
                <% else %>
                    <li> <%= link_to 'REJESTRACJA' ,new_user_registration_path  %> </li>
                    <li> <%= link_to 'LOGOWANIE', new_user_session_path  %> </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
    </nav>

<% else %>
    <%= image_tag 'https://s3.eu-central-1.amazonaws.com/dmarapp/layout/library_scaled.jpg', width: '100%', alt: 'panorama_header' %>

    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <i class="fa fa-bars fa-2x"></i>
        </button>
        <a class="navbar-brand" href="<%= root_path %>"><span><%= image_tag 'https://s3.eu-central-1.amazonaws.com/dmarapp/layout/dmar_scaled_trans.png', alt: 'logo', style: 'max-height: 40px' %></span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
          <li><a class="home" href="<%= root_path %>">START</a></li>
          <li><a class="oferta" href="<%= root_path + '#oferta' %>">OFERTA</a></li>
          <li><a class="realizacje" href="<%= root_path + '#realizacje' %>">REALIZACJE</a></li>
          <li><a class="opinie" href="<%= root_path + '#opinie' %>">OPINIE O NAS</a></li>
          <li><a class="kontakt" href="<%= root_path + '#kontakt' %>">KONTAKT</a></li>
          <li><a class="gallery" href="#">GALERIA</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle user" data-toggle="dropdown" href="">UŻYTKOWNIK</a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                  <li> <%= link_to 'EDYCJA', edit_user_registration_path %> </li>
                  <li> <%= link_to 'NAPISZ OPINIĘ', '#' %> </li>
                  <li> <%= link_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete %> </li>
              <% else %>
                  <li> <%= link_to 'REJESTRACJA' ,new_user_registration_path  %> </li>
                  <li> <%= link_to 'LOGOWANIE', new_user_session_path  %> </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
          <li><a class="home" href="<%= root_path %>">START</a></li>
          <li><a class="oferta" href="<%= root_path + '#oferta' %>">OFERTA</a></li>
          <li><a class="realizacje" href="<%= root_path + '#realizacje' %>">REALIZACJE</a></li>
          <li><a class="opinie" href="<%= root_path + '#opinie' %>">OPINIE O NAS</a></li>
          <li><a class="kontakt" href="<%= root_path + '#kontakt' %>">KONTAKT</a></li>
          <li><a class="gallery" href="#">GALERIA</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle user" data-toggle="dropdown" href="">UŻYTKOWNIK</a>
            <ul class="dropdown-menu">
              <% if user_signed_in? %>
                  <li> <%= link_to 'EDYCJA', edit_user_registration_path %> </li>
                  <li> <%= link_to 'NAPISZ OPINIĘ', '#' %> </li>
                  <li> <%= link_to 'WYLOGUJ SIĘ', destroy_user_session_path, method: :delete %> </li>
              <% else %>
                  <li> <%= link_to 'REJESTRACJA' ,new_user_registration_path  %> </li>
                  <li> <%= link_to 'LOGOWANIE', new_user_session_path  %> </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
<% end %>