<!DOCTYPE html>
<html>
<head>
  <title>DmarApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
</head>
<body>

<header style='<%= yield(:header) %>'>
  <%= render 'layouts/header' %>
</header>

<main role="main">
  <%= yield %>
</main>

<footer>
  <%= render 'layouts/footer' %>
</footer>

<% flash.each do |key, value| %>
<%= js add_gritter(value, flash[key], :image => key, :title => "Komunikat:") %>
<% end %>

</body>
</html>
